@page "/"
@using ContosoPizza.Models


<div>
    <div class="book-list">
        <h1>For each book</h1>
        <h2>Book Name</h2>
        <h2>Author</h2>
        <h2>Rating</h2>
        <h2>Review</h2>
    </div>
    <ul>
        @foreach (var book in books)
        {
            <li>
                <BookView Book="book" />
            </li>
        }
    </ul>
</div>

<div>
    <PageTitle>Home</PageTitle>

    <h1>Hello, world!</h1>

    

    <Counter IncrementAmount="3" />
</div>

@code {
    private List<Book> books = [];
}
